body html {
	margin: 0;
	padding: 0;
	background-color: #F1C40F;

}


.home {
	font-size: 12 px;
	background-image: url ("img/funky-lines.png");

}

.imput1 {
	background-image: url ("img/funky-lines.png");

}

.container {
	background-image: url ("img/funky-lines.png");

}

.jumbotron jumbotron-fluid {
background-image: url ("img/funky-lines.png");	
}